<!DOCTYPE html>
<html>
<head>
  <title>L2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Main layout</h1>
<span>Back to <%=link_to "home", home_path%></span>
<%= yield %>

</body>
</html>
